{
   "telegramBotToken": "YOUR_TELEGRAM_BOT_TOKEN",
   "bdayChatId": 0,
   "adminChatIds": [
      1
   ],
   "observerChatIds": [],
   "smtp": {
         "host": "leave empty if not needed",
         "port": 587,
         "user": "but dont remove this section",
         "pass": "",
         "from": ""
      }
}
